<div class="modal show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Rediger beskrivelse</h4>
      </div>
      <div class="modal-body">
        <form>
          <textarea name="description" class="form-control description"><%- description %></textarea>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuller</button>
        <button type="button" class="btn btn-primary">Gem</button>
      </div>
    </div>
  </div>
</div>