<div class="jumbotron">
  <div class="container">
    <h2>Lystrup Squash - Ranglisten</h2>
    <p>Byens hyggeligste squashklub</p>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="description" />
      <% if (isAdmin) { %>
        <div class="admin-operation">
          <a href="#" class="edit-description"><span class="glyphicon glyphicon-pencil" />Rediger tekst</a>
        </div>
      <% } %>
    </div>
  </div>
</div>

<section id="ranking" />
<section id="user-area" />
<div class="clear" />

<footer>
  Alle rettigheder til denne side forbeholdes <a href="http://www.linkedin.com/pub/kasper-nielsen/69/a1b/784">Kasper Nielsen</a>
</footer>